.DS_Store

src/mac/Microcone Demo/Microcone Demo.xcodeproj/project.xcworkspace/xcuserdata/imccowan.xcuserdatad/UserInterfaceState.xcuserstate

src/mac/Microcone Demo/Microcone Demo.xcodeproj/xcuserdata/imccowan.xcuserdatad/xcschemes/Microcone Demo.xcscheme

src/mac/Microcone Demo/Microcone Demo.xcodeproj/xcuserdata/imccowan.xcuserdatad/xcschemes/xcschememanagement.plist

src/mac/Microcone Demo/Microcone Demo.xcodeproj/xcuserdata/

src/mac/Microcone Demo/build/
